<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">


    <servlet>
        <servlet-name>EndpointsServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.EndpointsServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>server.Rest</param-value>
        </init-param>

        <init-param>
            <param-name>restricted</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>EndpointsServlet</servlet-name>
        <url-pattern>/_ah/api/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>connectTo</servlet-name>
        <servlet-class>server.connectTo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>connectTo</servlet-name>
        <url-pattern>/api/connectTo</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>oauth2Callback</servlet-name>
        <servlet-class>server.OAuth2Callback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>oauth2Callback</servlet-name>
        <url-pattern>/api/oauth2callback/*</url-pattern>
    </servlet-mapping>

  <servlet>
        <servlet-name>export</servlet-name>
        <servlet-class>server.export</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>export</servlet-name>
        <url-pattern>/api/export/*</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>./applis/index.html</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/applis/404.html</location>
    </error-page>
</web-app>
