<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img src="https://rousseauautomobile.appspot.com/assets/img/logo-rousseau.jpg" style="width:100%;"><br><br>

    Bienvenu @firstname@ sur @titre@,

    Votre code de connexion est <br>
    <h2>@code@</h2><br><br>
    Vous pouvez aussi utilisé ce <a href="@url_to_connect@">lien</a> pour vous connecter directement.<br><br>

    Ce mail est strictement personnel. Ne le transféré pas.
</body>
</html>